.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-button {
  margin: 12px 0 2px;
  background-image: url(../images/likebutton-icon.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  background-image: url(../images/delete-icon.svg);
  height: 32px;
  width: 32px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-icon-hover.svg);
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/heart-liked.svg);
  image-rendering: auto;
  opacity: 1;
  background-color: transparent;
}

.card__like-button_liked:hover {
  background-image: url(../images/heart-liked-hover.svg);
}

.card__title {
  margin: 12px 0 2px;
  width: 413px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #212121;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__title {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
  }
}
